# Профиль (auto, high, low)
PROFILE=auto

# URL удалённых сервисов (если используются)
TEXT2IMAGE_SERVICE_URL=http://localhost:8001
IMAGE2SHAPE_SERVICE_URL=http://localhost:8002

# Пути к моделям (можно оставить пустыми для значений по умолчанию)
TEXT2IMG_MODEL=PixArt-alpha/PixArt-Sigma-XL-2-1024-MS
SHAPE_MODEL=tencent/Hunyuan3D-2mini
TEX_MODEL=tencent/Hunyuan3D-2
SUBFOLDER=hunyuan3d-dit-v2-0

# Дополнительные параметры
# LOG_LEVEL=INFO
# SAVE_DIR=generated_models